.editable-paragraph[data-empty="true"]::before {
  content: attr(data-placeholder);
  pointer-events: none;
  color: color-mix(in oklab, var(--muted-foreground) 50%, transparent);
}

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
