@utility surface-line {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    pointer-events: none;
    content: "";
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
  }

  &::before {
    inset: 0;
    border-color: color-mix(in oklch, var(--foreground) 18%, transparent);
    box-shadow:
      inset 0 1px rgb(255 255 255 / 18%),
      inset 0 -1px rgb(0 0 0 / 10%);
  }

  &::after {
    inset: 1px;
    border-color: rgb(255 255 255 / 40%);
    mask-image: linear-gradient(to bottom, black, transparent);
  }
}

@utility shadow-float {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.04),
    0 8px 10px rgba(0, 0, 0, 0.018),
    0 5px 6px rgba(0, 0, 0, 0.014),
    0 3px 3.5px rgba(0, 0, 0, 0.012),
    0 1.5px 2px rgba(0, 0, 0, 0.01),
    0 0.5px 1px rgba(0, 0, 0, 0.008);
}

@utility shadow-float-lg {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.04),
    0 27px 54px rgba(0, 0, 0, 0.04),
    0 17.5px 31.625px rgba(0, 0, 0, 0.03),
    0 10.4px 17.2px rgba(0, 0, 0, 0.024),
    0 5.4px 8.775px rgba(0, 0, 0, 0.02),
    0 2.2px 4.4px rgba(0, 0, 0, 0.016),
    0 0.5px 2.125px rgba(0, 0, 0, 0.01);
}

@utility beautiful-shadow {
  @apply smooth-shadow-ring shadow-neutral-500 smooth-ring-neutral-300/20;
}
